body{
    background-color: lightyellow;
    text-align: center;
}

.container div{
    border: 1px solid lightgrey;
    background-color: rgb(160, 255, 231);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
}

.container .menu{
    background-color: rgb(255, 100, 100);
}

.container .footer{
    background-color: rgb(255, 228, 107);
}