.container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    /* 
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-columns: 100px, 100px, 100px;
    */
    grid-template-rows: 50px 50px 200px;
    grid-gap: 3px;


    text-align: center;
}

.container div{
    border: 1px solid lightgrey;
}